<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Business &#8211; Passion</title>
	<atom:link href="https://upsidethemes.net/demo/passion/?feed=rss2&#038;cat=5" rel="self" type="application/rss+xml" />
	<link>https://upsidethemes.net/demo/passion</link>
	<description>Premium Responsive Magazine WordPress Theme</description>
	<lastBuildDate>Thu, 16 Jul 2015 02:14:16 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>10 Fitness Rules Every Man Should Break</title>
		<link>https://upsidethemes.net/demo/passion/?p=19</link>
		<comments>https://upsidethemes.net/demo/passion/?p=19#comments</comments>
		<pubDate>Thu, 21 Nov 2013 07:28:57 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Business]]></category>
		<category><![CDATA[Fashion]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=19</guid>
		<description><![CDATA[Fitness instructors love January. The New Year heralds in a procession of guilt-ridden, turkey-weight-carrying slobs making their annual ]]></description>
				<content:encoded><![CDATA[<p>Fitness instructors love January. The New Year heralds in a procession of guilt-ridden, turkey-weight-carrying slobs making their annual pilgrimage to the gym to lose the winter bulge.</p>
<p>Sadly, there’s a lot of bullshit out there on how to sort out your body. In short, a lot of what the ‘experts’ tell you is utter toss. The simple truth is that it’s all down to you and your willpower, and unlike wind, solar power and Bruce Forsyth, willpower is a finite resource.</p>
<p>So if you’ve made New Years resolutions, make sure you’re not wasting your willpower on the wrong ones. To save you the gym trip – and the cash – here’s FHM’s myth-busting guide to getting in shape for 2013…</p>
<p>Myth 1: Fat makes you fat<br />
The Truth: Fat is actually vital for many body functions, including the production of testosterone. So when you thought barbecuing meat made you more of a man you were technically correct. Fat providers like coconut oil, grass-fed beef and avocados will also boost your immune system and keep your brain healthy (your brain is mostly fat). For fast fat-loss, reduce carbs instead, starting with changing from cereal to eggs for your daily breakfast.</p>
<p>Myth 2: Jogging is the best exercise<br />
The Truth: Few people have the strength and muscle balance to run without getting injured – a whopping 79% of runners will pick up an injury in their first year. Instead, start training with a three-day-a-week weights and stretching program. A diet of squats, lunges, press-ups and dumbbell rows will get you started, but be sure to ask a trainer to check your technique.</p>
<p>Myth 3: Crunches give you abs<br />
The Truth: You already have abs. If you eat less crap and lift weights you may actually see them some day. Crunches are the icing on the cake. Just stop eating the bloody cake. If the belly is your trouble spot, remove gluten for four weeks (Think bread, pasta, cereals and most processed foods). If your gut shrinks quickly, there’s your culprit.</p>
<p>Myth 4: Train for core stability<br />
The Truth: Exercises on unstable surfaces or vibrating platforms are a waste of time. They’ve become trendy in recent years, but are total nonsense. That means if you do find your girlfriend lying on top of the washing machine on spin, it’s not because she’s trying to tone up…</p>
<p>Myth 5: Lift light weights to tone up<br />
The Truth: Muscles get bigger or smaller, that’s it. Any discussion of “tone” is best directed toward saxophones and obscure German Cinema. Lift as heavy as you can safely manage for 8-12 good reps. To start, pick four free-weights exercises (like the ones mentioned in number 2) and perform them in a circuit for three or four sets, always looking to keep your rest periods under 60 seconds.</p>
<p>Myth 6: Coffee is bad for you<br />
The Truth: Coffee before exercise provides energy and causes you to use a greater percentage of body fat as a fuel source. Plus it smells and tastes awesome and it’s a proven scientific fact that women find men who drink espressos sexier. That said, if your java habit makes crystal meth addiction look like a take-it-or-leave-it side interest, you should probably cut back. But 2-3 cups of the brown stuff a day is A-OK.</p>
<p>Myth 7: Pilates and yoga give you long lean muscles<br />
The Truth: Your muscles attach to fixed points on your bones. Making them “longer” would require a chainsaw and a lot of ibuprofen. Classes like yoga are a great addition to weight training, (plus they do tend to be populated by outlandishly hot women), but don’t kid yourself that they’ll turn you into Dahlsim from Street Fighter II.</p>
<p>Myth 8: You need to cut out salt<br />
The Truth: Provided you eat a diet of mainly whole, fresh foods and not processed rubbish (an admittedly big “if”), there is no point cutting out salt. The best evidence against salt comes from a study on “salt sensitive” rats. However, these rats were fed 60 times more salt the average man consumes, or in layman’s terms, half of what you’d get from licking Johnny Vegas’s sweaty neck fold. If you do like things salty, that’s fine; just make sure you invest in good quality stuff like Malden’s sea salt.</p>
<p>Myth 9: Breakfast is essential<br />
The Truth: While brekkie is definitely an important meal, intermittent fasting can be a great way to lose weight quickly. Fasting for 16-20 hours once or twice a week will not only make you trimmer, but also improve your digestion and boost fat-burning hormones.</p>
<p>Myth 10: Nutrition is complicated<br />
The Truth: To get in shape, you need to stick to one rule and one rule only. Make sure at least 80% of the food you eat either grew in the ground or used to be alive. Ever seen a pasta tree? No. So don’t eat it. Fish, meat, veg, nuts and fruit are all fair game, and more than enough to give you a balanced diet.</p>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=19</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Until recently Whisky And Oysters: Together At Last</title>
		<link>https://upsidethemes.net/demo/passion/?p=16</link>
		<comments>https://upsidethemes.net/demo/passion/?p=16#respond</comments>
		<pubDate>Thu, 21 Nov 2013 07:27:49 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Audio]]></category>
		<category><![CDATA[Business]]></category>
		<category><![CDATA[Fashion]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=16</guid>
		<description><![CDATA[Until recently – this week, in fact – we hadn’t considered the gastronomic possibilities that the pairing of oysters and whisky might bring. Sure, they’re each tasty,]]></description>
				<content:encoded><![CDATA[<p>Until recently – this week, in fact – we hadn’t considered the gastronomic possibilities that the pairing of oysters and whisky might bring.</p>
<!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
<audio class="wp-audio-shortcode" id="audio-16-1" preload="none" style="width: 100%;" controls="controls"><source type="audio/mpeg" src="https://upsidethemes.net/demo/passion/wp-content/uploads/2013/11/adg3com_bustedchump.mp3?_=1" /><a href="https://upsidethemes.net/demo/passion/wp-content/uploads/2013/11/adg3com_bustedchump.mp3">https://upsidethemes.net/demo/passion/wp-content/uploads/2013/11/adg3com_bustedchump.mp3</a></audio>
<p>Sure, they’re each tasty, manly things in their own right – but that doesn’t mean that they’re as destined as say, bacon and chicken, or sex and cigarettes.</p>
<p>Thanks to a group of oyster connoisseurs who call themselves The Mother Shuckers (!), oysters and whisky has become a reality with a new Covent Garden pop-up. The Shuckers have teamed up with the Scotch Malt Whisky Society, who are responsible for sourcing an incredible selection of high-end, short-run British whisky.</p>
<p>The temporary space is called Pearl Dram. Naturally.</p>
<p>So what the hell happens to one’s palette when it’s lavished with smokey cask whisky and sea-salty oysters?</p>
<p>Very, very good things.</p>
<p>The dance of buttery, smooth oyster – so flavoursome they’re wholly devoid of garnish – and light, floral whisky is mesmerising.</p>
<p>Pearl Dram has six pairings to eat and drink your way through. In a rogue turn, you’re encouraged to chew and saviour the oysters, taking in the notes in the same fashion you might do with, say…a whisky.</p>
<p>Our pick of the bunch? A 16 year old, slightly salty marmalade-tinged whisky, which was partnered up with the creamy, flavour-loaded Colchester oyster: a one-two punch you’ll be glad to take.</p>
<p>If we’re being entirely honest, you ought to work your way through the selection twice – for posterity, and because, dang, deep-sea British oysters and premium cask whisky have been kept apart for far, far too long.</p>
<p>The Pearl Dram Whisky and Oyster Bar is popped-up at 53 Monmouth Street, Seven Dials, London, WC2H 9DG from Thursday 5 September to Sunday 8 September (Thurs-Sat noon-9pm, Sun noon-5pm). Entry is free.</p>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=16</wfw:commentRss>
		<slash:comments>0</slash:comments>
<enclosure url="https://upsidethemes.net/demo/passion/wp-content/uploads/2013/11/adg3com_bustedchump.mp3" length="1371742" type="audio/mpeg" />
		</item>
		<item>
		<title>Five Of London’s Best Burritos</title>
		<link>https://upsidethemes.net/demo/passion/?p=13</link>
		<comments>https://upsidethemes.net/demo/passion/?p=13#comments</comments>
		<pubDate>Thu, 21 Nov 2013 07:26:59 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Business]]></category>
		<category><![CDATA[Politic]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=13</guid>
		<description><![CDATA[Swiftly making their way up the ranks as king of the fast-food world are the freshly prepared, simple, and dangerously moreish, burritos.]]></description>
				<content:encoded><![CDATA[<p>Swiftly making their way up the ranks as king of the fast-food world are the freshly prepared, simple, and dangerously moreish, burritos.</p>
<p>Here we round up five of the best places in London to grab one.<br />
<strong>1 | Poncho 8</strong></p>
<p>Providing a healthier burrito option for the people of London (you can check the nutritional values online), ex-financial businessmen Frank Yeung and Nick Troen first set up shop in Spitalfields back in September 2009. They now boast five outlets including St Pauls and Soho.</p>
<p>Using only the finest ingredients, Poncho 8 marinate their chicken in lime juice, cumin and paprika, while their pork is smothered in juniper berries, bay leaves and fresh oregano before slow cooked to juicy perfection.</p>
<p>Their branded chili is also available from Harvey Nichols, and comes in three great flavours – Smoky Medium, Garlic and Super Hot Fuego (that’s ‘fire’ in Spanish).</p>
<p>poncho8.com<br />
<strong>2 | Chilango</strong></p>
<p>Back in 2006 founders Eric and Dan embarked on a gastronomical adventure to Chicago, Los Angeles and San Francisco (it’s a hard life) in order to bring the best of the Mexican flavours to London. And so far they’ve done a pretty good job.</p>
<p>From chili-marinated steak to oven-braised pork – which includes the deliciously charred fatty edges, each burrito is filled with a generous dollop of coriander-lime rice, cheese/sour cream, beans and chunky homemade salsa.</p>
<p>chilango.co.uk<br />
<strong>3 | Daddy Donkey</strong></p>
<p>Tucked away on Leather Lane, the self-proclaimed ‘kick-ass Mexican grill’ Daddy Donkey does exactly that – serve a kick-ass Mexican grill. Started by Joel Henderson back in 2005, the burrito cart serves the Daddy D burrito – a ‘big-ass’ flour tortilla with all the usuals. Choose from five fillings including Carnitas (pulled pork shoulder &#038; leg, slow cooked in garlic, spice and coca-cola) and marinated chargrilled chicken. And of course don’t forget to ask for a shot of guacamole at the end.</p>
<p>With market-goers and lunchtime traders it gets pretty busy at lunchtime, so get there early to avoid disappointment.</p>
<p>daddydonkey.co.uk<br />
<strong>4 | Luardos</strong></p>
<p>Since 2006, Luardos’ Jesus H Van (it’s blue) have been serving homemade burritos – also known to locals as the perfect hangover cure – stuffed with your choice of meat (chicken breast, carnitas, chipotle or beef), black beans, tomato salsa, sour cream, lettuce and fresh coriander. If you fancy a double dose of meat, you can always add extra chorizo.</p>
<p>His hot sister van Mary (yes, it’s pink) is the one who ‘gets around’ so make sure you follow her on Twitter for regular updates on where she’ll be next. Expect a lengthy queue during lunchtimes.</p>
<p>luardos.co.uk<br />
5 | Freebird Burritos</p>
<p>Dangerously close to the Esquire offices on Berwick Street Market, this burrito stand offers a fuss free, faster-than-light service.</p>
<p>There are three easy steps to follow: pick the meal, pick the meat – our pick of the bunch is the tender medium-rare marinated steak – and add a generous portion of salsa. To really kick it up a notch we recommend you go for the Smoky Medium – a tomatillo based salsa with fresh herbs &#038; seasoning with, you guessed it, a smoky twist.</p>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=13</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Ted Baker To Offer Up Complimentary Movember Grooming</title>
		<link>https://upsidethemes.net/demo/passion/?p=10</link>
		<comments>https://upsidethemes.net/demo/passion/?p=10#respond</comments>
		<pubDate>Thu, 21 Nov 2013 07:26:01 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Business]]></category>
		<category><![CDATA[Politic]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=10</guid>
		<description><![CDATA[Sharpen up for a good cause

November heralds a month of moustaches (of varying success rates) thanks to the Movember charity appeal.]]></description>
				<content:encoded><![CDATA[<p>Sharpen up for a good cause</p>
<p>November heralds a month of moustaches (of varying success rates) thanks to the Movember charity appeal. For 30 days the non-whiskered become the whiskered – it’s hirsuteness’ moment in the sun! – helping to raise funds and awareness for men’s health issues.</p>
<p>This year, Ted’s Grooming Room – Ted Baker’s space for everything sprucing – is lending a dapper hand. Services at each six of its venues range from haircuts to skincare, as well as offering guests traditional Turkish shaves.</p>
<p>Ted’s Grooming Room will be offering complimentary shaves on 1 November between 9-11am, tash trims anytime, all month long and, best of all, a tash-off on 30 November between 9-11am.</p>
<p>Hair on your upper lip, complimentary grooming, a good cause – we’ll see you there.</p>
<p>Ted’s Grooming Room</p>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=10</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
