<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Technology &#8211; Passion</title>
	<atom:link href="https://upsidethemes.net/demo/passion/?feed=rss2&#038;cat=9" rel="self" type="application/rss+xml" />
	<link>https://upsidethemes.net/demo/passion</link>
	<description>Premium Responsive Magazine WordPress Theme</description>
	<lastBuildDate>Thu, 16 Jul 2015 02:14:16 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>Behind the Scenes</title>
		<link>https://upsidethemes.net/demo/passion/?p=31</link>
		<comments>https://upsidethemes.net/demo/passion/?p=31#comments</comments>
		<pubDate>Thu, 21 Nov 2013 07:36:51 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Entertainment]]></category>
		<category><![CDATA[Technology]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=31</guid>
		<description><![CDATA[In the olden days, the members of Coldplay were primarily concerned with keeping pace with U2. But times change, and Chris Martin and Co.]]></description>
				<content:encoded><![CDATA[<p>In the olden days, the members of Coldplay were primarily concerned with keeping pace with U2. But times change, and Chris Martin and Co. recently claimed that they’re now trying to compete with pop acts from across the genre spectrum—think Justin Bieber, Kanye West and Adele. With global hegemony in mind, Coldplay have once again recruited Brian Eno, who helps them veer further away from their maudlin, piano-led comfort zone.</p>
<div class="video-wrapper"><iframe src="http://www.youtube.com/embed/1iIZeIy7TqM?showinfo=1&hd=0&rel=1&theme=light&controls=2" frameborder="0" allowfullscreen></iframe></div>
<p>In one sense, it works—Mylo Xyloto finds the band at their most strident and celebratory—but every detail of the album is so sanded down it feels as though the melodies were put through rigorous focus-group testing in advance of the final mix. All the artistic progress made on their last album, the quirky and even adventurous Viva la Vida, has been undone, thanks to an overdose of weeping electronic strings, a pointless Rihanna cameo (on the forgettable “Princess of China”) and a festival-pleasing “ohh-ohh” hook that’s shoehorned onto the end of every boisterous chorus. Unfortunately, these lovingly crafted earworms won’t stand the test of time. There’s a reason Coldplay’s back-end ballads are the ones that still sound fresh after so many years—they’re the ones that emerged most organically from Martin’s eternally bleeding heart.</p>
<p>And sadly, heart is precisely what Mylo Xyloto lacks.</p>
<p>Playlist Picks: “Up With the Birds,” “Charlie Brown,” “Hurts Like Heaven”</p>
<p>The moody, piano-led ballad, which reaches Coldplay’s signature orchestral-rock aplomb by its midway point, was not only the first song the group had ever written specifically for a movie but its first new song since the release of 2011′s Mylo Xyloto. “Atlas” made it to the No. 1 position on 43 countries’ respective iTunes chart. In the U.S., it made it to No. 69 on the Billboard Hot 100 and peaked in the Top 20 of Billboard‘s Rock Songs and Alternative Songs charts</p>
<p>Martin is reportedly a fan of the Hunger Games series of books and based the song on the drama within the movie. “We are thrilled with how well they have connected to the themes and ideas within the film,” the movie’s director, Francis Lawrence, commented in September. “Their unwavering passion and excitement for the project elevated the collaboration even further.”</p>
<p>The Hunger Games: Catching Fire soundtrack, which features new tracks from Christina Aguilera, Sia and Lorde, among others, comes out November 19th. The movie hits theaters November 22nd.</p>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=31</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>12 Cool Hidden Features Of iOS 7</title>
		<link>https://upsidethemes.net/demo/passion/?p=25</link>
		<comments>https://upsidethemes.net/demo/passion/?p=25#respond</comments>
		<pubDate>Thu, 21 Nov 2013 07:30:41 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Politic]]></category>
		<category><![CDATA[Technology]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=25</guid>
		<description><![CDATA[iOS 7. We’ve had the rumours, we’ve had the help-the-newness-of-it-all-is-making-me-feel-sick phase, now it’s time for the tips and tricks]]></description>
				<content:encoded><![CDATA[<p>Apple’s new operating system has refreshed the asthetics of your iPhone, but it’s also added several small, cool features and sorted out some old bugs we like the grumble about.</p>
<p>If you haven’t given in and updated yet, here’s 12 reasons why you should.</p>
<ol>
<li>Quit multiple apps at once<br />
Closing down apps to preserve battery life was one of the early ‘little known iPhone tips’. Now you can close several at a time. Double click the home button as usual, then use three fingers to swipe three apps at once.</li>
<li>Use the Instagram crop in camera mode<br />
The camera app can now take square photos, meaning whatever plate of food, Autumnal scene or vacuous selfie you want to share with the world on Instagram will always appear in full.</li>
<li>In built spirit level<br />
A niche tool, admittedly, but useful none the less. The compass app now also acts as a spirit level, meaning you can not only navigate your way around the world but perfectly straighten every picture you see on your way.</li>
<li>Siri can be corrected<br />
If you’re the type of person who doesn’t mind using voice activation on your mobile phone in public, at least you can now do it more accurately. Siri – whose voice you can also change – can be taught to get things right with a stern ‘that’s not how you pronounce that’. So now you can only talk to your phone, but tell it off, too.</li>
<li>Set your own vibrations<br />
Too much of a maverick for the basic 4/4 beat? OK jazz man, just go to Settings&gt;Sounds&gt;Ringtone&gt;Vibration&gt;Create New Vibration and you can set the iPhone to tickle your thigh to your own rhythm.</li>
<li>Block whoever you like<br />
Debt collectors, charity workers and unhinged exes can all now be block from your life for good via a handy new tool – just go to Settings&gt;Phone&gt;Blocked to get started.</li>
<li>Text message time stamps that last forever<br />
Settling an argument? Writing your autobiography? Providing a police alibi? All can be aided by the fact time stamps now last on every text message you send or receive forever, by just sliding them to the left.</li>
<li>The clock icon is a now real clock<br />
With a ticking second hand, and everything.</li>
<li>Maps has a night mode<br />
To help cut down on fatal car accidents and muggings, Apple maps now has a handy night mode, meaning the display will be darker and less distracting at certain times.</li>
<li>Unlimited folder space<br />
A great one for all you OCD sufferers out there. You can now places as many app icons in a single folder as you want, meaning your home screen can be as neat and tidy as you are.</li>
<li>Automatic app updates<br />
No more going into iTunes to get the latest version of Tinder – you can set your iPhone to be constantly updating apps automatically.</li>
<li>Birthday wishes<br />
The iPhone is now a bit cannier with the information you give it, meaning if you tell it your address, it can remind you to do things when you get home. Tragically, if you tell it your date of birth it will wish you well when the day arrives. You popular guy, you.</li>
</ol>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=25</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Five Of London’s Best Burritos</title>
		<link>https://upsidethemes.net/demo/passion/?p=22</link>
		<comments>https://upsidethemes.net/demo/passion/?p=22#respond</comments>
		<pubDate>Thu, 21 Nov 2013 07:29:46 +0000</pubDate>
		<dc:creator><![CDATA[Kim Dinh Van]]></dc:creator>
				<category><![CDATA[Politic]]></category>
		<category><![CDATA[Technology]]></category>

		<guid isPermaLink="false">https://upsidethemes.net/demo/style-magazine/?p=22</guid>
		<description><![CDATA[Swiftly making their way up the ranks as king of the fast-food world are the freshly prepared, simple, and dangerously moreish, burritos.]]></description>
				<content:encoded><![CDATA[<p>Swiftly making their way up the ranks as king of the fast-food world are the freshly prepared, simple, and dangerously moreish, burritos.</p>
<p>Here we round up five of the best places in London to grab one.</p>
<ol>
<li>Poncho 8Providing a healthier burrito option for the people of London (you can check the nutritional values online), ex-financial businessmen Frank Yeung and Nick Troen first set up shop in Spitalfields back in September 2009. They now boast five outlets including St Pauls and Soho.Using only the finest ingredients, Poncho 8 marinate their chicken in lime juice, cumin and paprika, while their pork is smothered in juniper berries, bay leaves and fresh oregano before slow cooked to juicy perfection.Their branded chili is also available from Harvey Nichols, and comes in three great flavours – Smoky Medium, Garlic and Super Hot Fuego (that’s ‘fire’ in Spanish).
<p>poncho8.com</li>
<li>ChilangoBack in 2006 founders Eric and Dan embarked on a gastronomical adventure to Chicago, Los Angeles and San Francisco (it’s a hard life) in order to bring the best of the Mexican flavours to London. And so far they’ve done a pretty good job.From chili-marinated steak to oven-braised pork – which includes the deliciously charred fatty edges, each burrito is filled with a generous dollop of coriander-lime rice, cheese/sour cream, beans and chunky homemade salsa.chilango.co.uk</li>
<li>Daddy DonkeyTucked away on Leather Lane, the self-proclaimed ‘kick-ass Mexican grill’ Daddy Donkey does exactly that – serve a kick-ass Mexican grill. Started by Joel Henderson back in 2005, the burrito cart serves the Daddy D burrito – a ‘big-ass’ flour tortilla with all the usuals. Choose from five fillings including Carnitas (pulled pork shoulder &amp; leg, slow cooked in garlic, spice and coca-cola) and marinated chargrilled chicken. And of course don’t forget to ask for a shot of guacamole at the end.With market-goers and lunchtime traders it gets pretty busy at lunchtime, so get there early to avoid disappointment.daddydonkey.co.uk</li>
<li>LuardosSince 2006, Luardos’ Jesus H Van (it’s blue) have been serving homemade burritos – also known to locals as the perfect hangover cure – stuffed with your choice of meat (chicken breast, carnitas, chipotle or beef), black beans, tomato salsa, sour cream, lettuce and fresh coriander. If you fancy a double dose of meat, you can always add extra chorizo.His hot sister van Mary (yes, it’s pink) is the one who ‘gets around’ so make sure you follow her on Twitter for regular updates on where she’ll be next. Expect a lengthy queue during lunchtimes.luardos.co.uk</li>
<li>Freebird BurritosDangerously close to the Esquire offices on Berwick Street Market, this burrito stand offers a fuss free, faster-than-light service.There are three easy steps to follow: pick the meal, pick the meat – our pick of the bunch is the tender medium-rare marinated steak – and add a generous portion of salsa. To really kick it up a notch we recommend you go for the Smoky Medium – a tomatillo based salsa with fresh herbs &amp; seasoning with, you guessed it, a smoky twist.</li>
</ol>
]]></content:encoded>
			<wfw:commentRss>https://upsidethemes.net/demo/passion/?feed=rss2&#038;p=22</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
